<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1><%= @user_name.capitalize %></h1><br>
      <div class="col-md-3">
      <img src=<%= @user_img  %>>
      </div>
      <div class="col-md-4">
        <h4>Summary</h4>
      <h5><%= @user_summary %></h5>
      <h4>Origninal language</h4>
      <h5><%= @user_language %></h5>
      <h4>Genres</h4>
      <h5><%= @user_genres %></h5>
      </div>
    </div>
    
  </body>
</html>
